{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Your Cart {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="userid">User ID</label>
        <input type="text" name="userid"
               placeholder="Enter userid" class="form-control"
               value="{{ request.form['userid'] }}"></input>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}