{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Purchase {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username"
               placeholder="Enter username" class="form-control"
               value="{{ request.form['username'] }}"></input>
        <label for="userid">User ID</label>
        <input type="text" name="userid"
               placeholder="Enter user id" class="form-control"
               value="{{ request.form['userid'] }}"></input>
        <label for="price">Price</label>
        <input type="text" name="price"
               placeholder="Enter price" class="form-control"
               value="{{ request.form['price'] }}"></input>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}