{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Cart {% endblock %}</h1>
<div class="container">
  <p>The table show all your purchases:</p>
  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>User ID</th>
        <th>Price</th>
        <th>timestamp</th>
      </tr>
    </thead>
    <tbody>
      {%for i in result%}
        <tr>
          <td>{{result[i]["username"]}}</td>
          <td>{{result[i]["userid"]}}</td>
          <td>{{result[i]["price"]}}</td>
          <td>{{result[i]["timestamp"]}}</td>
        </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock %}